$color-white: #F9FAFB;
$color-black: #0D0D0D;

$color-light-text: #F3F4F6;
$color-dark-text: #111827;


$num0: 0;
$num1: 1px;
$num2: 2px;
$num3: 3px;
$num4: 4px;
$num5: 5px;
$num6: 6px;
$num7: 7px;
$num8: 8px;
$num9: 9px;
$num10: 10px;
$num11: 11px;
$num12: 12px;
$num13: 13px;
$num14: 14px;
$num15: 15px;
$num16: 16px;
$num17: 17px;
$num18: 18px;
$num19: 19px;
$num20: 20px;

$full: 100%;
$auto: 0 auto;
$text-center: text-center;
$border-box: border-box;
$inherit: inherit;

