@use "variables" as *;
@use "helper" as *;

/* RESET */

* {
  box-sizing: $border-box;
  margin: $num0;
  padding: $num0;
}

button {
  border: 0;
  background: transparent;
  box-sizing: $border-box;
}

input {
  border: 0;
  box-sizing: $border-box;
}



/* INIT */
button {
  display: inline-block;
  width: $full;
  vertical-align: middle;
  font-size: $num12;


  &.btn_theme {
    width: $auto;
  }
}

.btn {
  text-align: center;
}

.ipt {
  width: $full;
  min-height: $num34;
  padding: $num0 $num8;
  border-radius: $num2;
  _border-bottom: 2px solid #2830d3;
  background-color: #000;
  color: #fff;
  font-size: $num14;

  &::placeholder {
    color: #e1e0dd;
  }
}

label {
  display: inline-block;
  width: $full;
  font-weight: bold;
  font-size: $num20;
}


/*
*
*
*/

html,body {
  height: $full;
}

body {
  margin: 0;
  background-color: $color-white;
  color: $color-dark-text;
}

body.dark {
  background-color: $color-black;
  color: $color-light-text;

  .header_wrap {
    border-color: $color-white;
  }

  .aside_wrap {
    border-color: $color-white;
  }
}

#root {
  height: $full;
}

.app {
 height: $inherit;
}

.header_wrap {
  padding: $num10;
  border-bottom: 1px solid $color-black;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.header_wrap {
  z-index: 99;
  position: fixed;
  width: $full;
  left: 0;
  top:0;
}

.aside_wrap {
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 0;
  z-index: 99;
}

.aside_wrap {
  border-left: 1px solid $color-black;
}

.aside_wrap {
  aside {
    padding: $num14;
  }
}


.container {
  width: $full;

  .inner {
    margin: $auto;
  }

}


.input_wrap {
  label {
    margin-bottom: 6px;
  }
}


.btn_test_connect {
  color: red;
  text-decoration: underline;
}