@use "variables" as *;


/* RESET */

* {
  box-sizing: $border-box;
  margin: $num0;
  padding: $num0;
}

button {
  border: 0;
  background: transparent;
  box-sizing: $border-box;
}

/* INIT */
button {
  display: inline-block;
  width: $full;
  vertical-align: middle;
  font-size: $num12;


  &.btn_theme {
    width: $auto;
  }
}

.btn {
  text-align: center;
}


html,body {
  height: $full;
}

body {
  margin: 0;
  background-color: $color-white;
  color: $color-dark-text;
}

body.dark {
  background-color: $color-black;
  color: $color-light-text;
}

#root {
  height: $full;
}

.app {
 height: $inherit;
}

.header_wrap {
  padding: $num10;
  border-bottom: 1px solid white;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}



.container {
  width: $full;

  .inner {
    margin: $auto;
  }

}


