@use "variables" as *;


* {
  box-sizing: $border-box;
  margin: $num0;
  padding: $num0;
}

html,body {
  height: $full;
}

body {
  margin: 0;
  background-color: $color-white;
  color: $color-dark-text;
}

body.dark {
  background-color: $color-black;
  color: $color-light-text;
}

#root {
  height: $full;
}

.app {
 height: $inherit;
}

.header_wrap {

  header {
    border-bottom: 1px solid white;
  }

}



.container {
  width: $full;

  .inner {
    margin: $auto;
  }

}
